body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0; 
  margin: 0 25% 0 25%; 
  background-color: #eae2b7;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
}


h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
  text-align: center; 
}

a {
  color: red;
}

div.container {
  margin: auto;
  width: 600px;
  text-align: left; 
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto; 
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  border: 1px solid black;
  border-radius: 50%;
}

nav a {
  margin-right: 10px;
}

.imageText {
  text-align: center; 
}

header {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 20px; 
}
